html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

canvas {
  box-shadow: 5px 5px 5px #666666;
  border-radius: 8px;
}
